.eployment {
    padding-bottom: 94px;
    background-color: var(--primary-bg-color);

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        margin-bottom: 50px;
        letter-spacing: 0.03em
    }
}

.eployment-cards {
    position: relative;

    &__img {
        display: block;
    }

    &__text {
        padding: 27px 82px 27px 83px;
        margin: 0;
        display: block;
        position: absolute;
        height: 70px;
        width: 100%;
        bottom: 0;
        left: 0;
        color: var(--secondary-accent-color);
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        font-weight: 700;
        background-color: rgba(47, 48, 58, 0.8);
        text-align: center;
    }
}



