.hero {
    color: var(--secondary-accent-color);
    background-color: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/bgi.jpg);
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    &__title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-bottom: 30px;
        padding-left: 250px;
        padding-right: 250px;
    }
}

