:root {
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --secondary-text-color: #757575;
    --secondary-accent-color: #FFF;
    --primary-bg-color: #ffff;
    --secondary-bg-color: #f5f4fa;
}